.card {
  transition: ease-in-out 0.2s;
}

.card:hover {
  transform: translateY(0.5rem) scale(1.1, 1.1);
  filter: brightness(1.25);
  transition: ease-in-out 0.2s
}

.card-img-top {
  padding: 5%;
  filter: blur(16px);
  transition: ease-in-out 0.2s
}

.nav {
  margin: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: center;
}

.nav-item {
  border-radius: 0.25rem;
  background-color: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.nav-item:hover {
  transition: ease-in-out 0.3s;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
    background: none;
}

@keyframes slide {
  0% {
    transform: translateX(-2%);
    filter: opacity(0%);
  }
  100% {
    transform: translateX(0%);
    filter: opacity(100%);
  }
}

body {  
  animation: 0.25s ease-in-out 0s 1 slide;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212 !important;
        color: #ededed !important;
    }
    .nav-item:hover {
        background-color: #121212;
        filter: brightness(1.15);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #ededed !important;
        color: #121212 !important;
    }
    .nav-item:hover {
        background-color: #ededed;
        filter: brightness(0.85);
    }
}

active {
    box-shadow: 0rem 0rem 2rem 0.5rem rgba(0, 113, 255, .4);
}

.btn:hover {
    filter: brightness(1.15);
}

.jumbotron {
    margin-left: 1rem;
    margin-right: 1rem;
}

.row {
    justify-content: center;
}